.popup__button-save {
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0 18px;
  
}
@media screen and (max-width: 559px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 17px;
  }
}
