.popup__input {
  margin: 0;
  padding: 15px 0 0;
  margin-bottom: 30px;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  outline: none;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
