.popup__save-button{
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0 18px;
}
.popup__save-button:hover{
  transition: opacity 0.7s ease;
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
  }
}
