.elements__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  border: none;
}
.elements__like-button:hover{
  transition: opacity 0.7s ease;
  opacity: 0.5;
}
